option {
    font-size: 1.2rem;
}

.btn-facebook {
    background-color: rgb(59,89,152);
}

.btn-twitter {
    background-color: rgb(29, 202, 255);
}

.btn-google {
    background-color: rgb(219, 50, 54);
}

a.btn-facebook {
    color: white;
}

